.all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    background-color: #f1f1f170;
    padding: 10px 10px 10px 0;
    width: calc((100% / 3) - 15px);
    border-radius: 2px;
    overflow: hidden;
}

.item span {
    font-size: 14px;
    color: #202124;
}

.item h2 {
    font-size: 20px;
    line-height: 1.3;
    color: #1a0dab;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.item p {
    font-size: 14px;
    line-height: 1.3;
    color: #202124;
}

.item:hover.item h2 {
    text-decoration: underline;
}

/* Media Query */
@media screen and (max-width: 767px) {
    .item {
        width: calc((100% / 2) - 15px);
    }
}

@media screen and (max-width: 580px) {
    .item {
        padding: 5px 0;
        width: 100%;
    }
}